<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Sign-Up</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="text" class="form-control" name="password" placeholder="Password" required="required">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				<input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-address-card"></i></span>
				<input type="text" class="form-control" name="first_name" placeholder="First Name" required="required">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-address-card"></i></span>
				<input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				<input placeholder="Date Of Birth" class="form-control" type="text" onfocus="(this.type='date')" id="date" required="required">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-phone"></i></span>
				<input type="text" class="form-control" name="contact_no" placeholder="Contact Number" required="required">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
                <span class="input-group-addon"><i class="fa fa-group"></i></span>
                <label for="Gender">Gender</label><br>
                <input type="radio" name="gender" value="MALE"> Male<br>
                <input type="radio" name="gender" value="FEMALE"> Female<br>
                <input type="radio" name="gender" value="OTHER"> Other
			</div>
        </div>


        <div class="form-group">
			<label>I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy </a>By Sign-Up</label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
		</div><br>
		<div><p class="text-center small">Don't have an account! <a href="#">Sign up here</a>.</p></div>
    </form>
	
</div>